@font-face {
    font-family: "VBVQIW+SimSun";
    src: url("../fonts/65892c9e-0000-0000-0000-000000000000.woff") format("woff");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

.report_three{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.pod {
    display: flex;
    margin-top: 10px;
}

.pod_container {
    border: 2px solid #9cbad4;
    flex: 1;
    margin-left: 10px;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.pod .title {
    width: 100%;
    background-color: #cedcea;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pod .pod_table_container {
    padding: 2px;
    height: 100%;
}

.pod .pod_table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: "VBVQIW+SimSun", "Times New Roman";
    color: #009999;
    line-height: 20px;
    table-layout: fixed;
}

.pod .pod_table td {
    border: 1px solid #ececec;
    height: 38px;
}