@font-face {
    font-family: "DOWALQ+HYChaoCuYuanJ";
    src: url("../fonts/5272d216-0000-0000-0000-000000000000.woff") format("woff");
}

.top-container{
    display: flex;
    justify-content: space-between;
}

.title-container {
    border: 3px solid #bed7ef;
    border-radius: 20px;
    background-color: #dfebf7;
    flex: 1 1 auto;
    text-align: center;
}

.title {
    margin-top: 26px;
    margin-bottom: 26px;
}

.title-span {
    font-size: 34px;
    font-family: "DOWALQ+HYChaoCuYuanJ", "Times New Roman";
    color: #000000;
    /*line-height: 0.998047em;*/
}

.logo-container{
    border: 2px solid #e8e8e8;
    width: 208px;
    margin-left: 20px;
}

.logo{
    margin: 26.94px auto 26.94px auto;
}

.information-title-container {
    margin-bottom: 6px;
}

.information-container {
    margin-top:25px;
}

@font-face {
    font-family: "RHUBAD+FZCuHeiSongS-B-GB";
    src: url("../fonts/c541d85a-0000-0000-0000-000000000000.woff") format("woff");
}

.information-title {
    line-height: 1.21875em;
    font-size: 19px;
    font-family: "RHUBAD+FZCuHeiSongS-B-GB";
    color: #009999;
}

@font-face {
    font-family: "BSKQOF+SimHei";
    src: url("../fonts/f00fe840-0000-0000-0000-000000000000.woff") format("woff");
}
.information-table-container {
    margin-top: 6px;
}
.information {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    font-family: "BSKQOF+SimHei", "Times New Roman";
    color: #000000;
    line-height: 1em;
}

.information td {
    border: 1px solid #eff5fa;
    height: 30px;
}

.result-container {
    border: 3px solid #5b9bd5;
    border-radius: 18px;
    height: 100%;
    /* display: inline-block; */
}

.foot-type-container{
    width: 216px;
    height: 216px;
    border: 1px solid #5b9bd5;
    margin: 10px;
    border-radius: 13px;
    text-align: center;
}

@font-face {
	font-family:"NCIULE+SimSun";
	src:url("../fonts/3ea65777-0000-0000-0000-000000000000.woff") format("woff");
}

.foot-type-inner{
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 4px;
}

.foot-type{
}

.foot-type-span{
    font-size: 1em;
    font-family: "NCIULE+SimSun";
    color: #009999;
    font-weight: bold;
    word-spacing: 0.51em;
    margin-top: 0px;
}

.foot-type-name-span {
    font-size: 1em;
    font-family: "NCIULE+SimSun";
    color: #009999;
    word-break: break-all;
}

.foot-type-img-container-left{
    width: 50%;
    float: left;
}

.foot-type-img-container-right{
    width: 50%;
    float: right;
}

.foot-type-img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}