sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"QMONEI+SimSun";
	src:url("../fonts/8bf08606-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.882em;
	font-family: "QMONEI+SimSun";
	color: #00B0F0;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: -0.0023em;
}

.ie .stl_09 {
	letter-spacing: -0.032px;
}
@font-face {
	font-family:"AQBFQD+Calibri";
	src:url("../fonts/83176ddb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.88em;
	font-family: "AQBFQD+Calibri";
	color: #000000;
}
.stl_11 {
	line-height: 1.220703em;
}
.stl_12 {
	letter-spacing: 0.0014em;
}

.ie .stl_12 {
	letter-spacing: 0.0192px;
}
.stl_13 {
	font-size: 0.88em;
	font-family: "QMONEI+SimSun";
	color: #000000;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
.stl_15 {
	letter-spacing: -0.0063em;
}

.ie .stl_15 {
	letter-spacing: -0.0894px;
}
.stl_16 {
	font-size: 0.88em;
	font-family: "QMONEI+SimSun";
	color: #00B0F0;
}
.stl_17 {
	letter-spacing: -0.0037em;
}

.ie .stl_17 {
	letter-spacing: -0.0516px;
}
.stl_18 {
	letter-spacing: -0.0016em;
}

.ie .stl_18 {
	letter-spacing: -0.0223px;
}
.stl_19 {
	letter-spacing: -0.0044em;
}

.ie .stl_19 {
	letter-spacing: -0.062px;
}
@font-face {
	font-family:"FJJULM+SimSun";
	src:url("../fonts/1cc90aa9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.75em;
	font-family: "FJJULM+SimSun";
	color: #000000;
}
.stl_21 {
	letter-spacing: 0.0022em;
}

.ie .stl_21 {
	letter-spacing: 0.0267px;
}
.stl_22 {
	letter-spacing: 0.1267em;
}

.ie .stl_22 {
	letter-spacing: 1.52px;
}
.stl_23 {
	font-size: 0.75em;
	font-family: "QMONEI+SimSun";
	color: #000000;
}
.stl_24 {
	letter-spacing: 0.119em;
}

.ie .stl_24 {
	letter-spacing: 1.428px;
}
.stl_25 {
	letter-spacing: 0.1161em;
}

.ie .stl_25 {
	letter-spacing: 1.3931px;
}
.stl_26 {
	letter-spacing: 0.0267em;
}

.ie .stl_26 {
	letter-spacing: 0.32px;
}
.stl_27 {
	letter-spacing: 0.0336em;
}

.ie .stl_27 {
	letter-spacing: 0.4027px;
}
.stl_28 {
	letter-spacing: 0.0712em;
}

.ie .stl_28 {
	letter-spacing: 0.854px;
}
.stl_29 {
	letter-spacing: 0.0713em;
}

.ie .stl_29 {
	letter-spacing: 0.855px;
}
.stl_30 {
	letter-spacing: 0.212em;
}

.ie .stl_30 {
	letter-spacing: 2.544px;
}
.stl_31 {
	letter-spacing: 0.2055em;
}

.ie .stl_31 {
	letter-spacing: 2.466px;
}
.stl_32 {
	font-size: 0.75em;
	font-family: "AQBFQD+Calibri";
	color: #009999;
}
.stl_33 {
	letter-spacing: -0.0001em;
}

.ie .stl_33 {
	letter-spacing: -0.0017px;
}
.stl_34 {
	font-size: 0.75em;
	font-family: "QMONEI+SimSun";
	color: #009999;
}
.stl_35 {
	letter-spacing: 0.0002em;
}

.ie .stl_35 {
	letter-spacing: 0.0022px;
}
.stl_36 {
	font-size: 0.75em;
	font-family: "QMONEI+SimSun";
	color: #00B0F0;
}
.stl_37 {
	font-size: 0.75em;
	font-family: "AQBFQD+Calibri";
	color: #000000;
}
.stl_38 {
	font-size: 0.752em;
	font-family: "QMONEI+SimSun";
	color: #000000;
}
.stl_39 {
	letter-spacing: -0.0027em;
}

.ie .stl_39 {
	letter-spacing: -0.032px;
}
.stl_40 {
	font-size: 0.752em;
	font-family: "QMONEI+SimSun";
	color: #00B0F0;
}
.stl_41 {
	letter-spacing: -0.0031em;
}

.ie .stl_41 {
	letter-spacing: -0.0443px;
}
.stl_42 {
	letter-spacing: 0.0289em;
}

.ie .stl_42 {
	letter-spacing: 0.3467px;
}
.stl_43 {
	letter-spacing: 0.0479em;
}

.ie .stl_43 {
	letter-spacing: 0.5752px;
}
.stl_44 {
	letter-spacing: 0.2206em;
}

.ie .stl_44 {
	letter-spacing: 2.6467px;
}
.stl_45 {
	letter-spacing: 0.2333em;
}

.ie .stl_45 {
	letter-spacing: 2.8px;
}
.stl_46 {
	letter-spacing: 0.226em;
}

.ie .stl_46 {
	letter-spacing: 2.712px;
}
.stl_47 {
	letter-spacing: -0.013em;
}

.ie .stl_47 {
	letter-spacing: -0.156px;
}
.stl_48 {
	letter-spacing: 0.0734em;
}

.ie .stl_48 {
	letter-spacing: 0.881px;
}
.stl_49 {
	letter-spacing: 0.146em;
}

.ie .stl_49 {
	letter-spacing: 1.752px;
}
.stl_50 {
	letter-spacing: 0.159em;
}

.ie .stl_50 {
	letter-spacing: 1.908px;
}
.stl_51 {
	letter-spacing: 0.002em;
}

.ie .stl_51 {
	letter-spacing: 0.024px;
}
.stl_52 {
	letter-spacing: -0.002em;
}

.ie .stl_52 {
	letter-spacing: -0.0287px;
}
.stl_53 {
	letter-spacing: 0.0929em;
}

.ie .stl_53 {
	letter-spacing: 1.1147px;
}
.stl_54 {
	letter-spacing: -0.007em;
}

.ie .stl_54 {
	letter-spacing: -0.084px;
}
.stl_55 {
	letter-spacing: 0.0035em;
}

.ie .stl_55 {
	letter-spacing: 0.0422px;
}
.stl_56 {
	letter-spacing: 0.092em;
}

.ie .stl_56 {
	letter-spacing: 1.104px;
}
.stl_57 {
	letter-spacing: 0.0888em;
}

.ie .stl_57 {
	letter-spacing: 1.065px;
}
.stl_58 {
	letter-spacing: 0.0015em;
}

.ie .stl_58 {
	letter-spacing: 0.0175px;
}
.stl_59 {
	letter-spacing: 0.0911em;
}

.ie .stl_59 {
	letter-spacing: 1.0933px;
}
.stl_60 {
	letter-spacing: 0.0667em;
}

.ie .stl_60 {
	letter-spacing: 0.8px;
}
.stl_61 {
	letter-spacing: 0.106em;
}

.ie .stl_61 {
	letter-spacing: 1.272px;
}
.stl_62 {
	letter-spacing: 0.1004em;
}

.ie .stl_62 {
	letter-spacing: 1.2048px;
}
.stl_63 {
	letter-spacing: 0.099em;
}

.ie .stl_63 {
	letter-spacing: 1.188px;
}
.stl_64 {
	letter-spacing: 0.001em;
}

.ie .stl_64 {
	letter-spacing: 0.012px;
}
